<div class="flip-card-back d-flex flex-column justify-content-center p-2">
  <div class="close-drawer-container mb-2">
    <button mat-flat-button color="warn" class="float-right close-btn" (click)="onClose()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <img src="assets/img/logo.png" class="logo">
    </div>
    <hr>
  </div>
  <div class="text-left">
    <div class="text-center">
      <h2 class="card-title">{{currentFilm.Title}}</h2>
    </div>
    <p class="card-text"><b>Genre :</b>{{currentFilm.Genre}}</p>
    <p><b>Director :</b> {{currentFilm.Director}}</p>
    <p><b>Actors :</b> {{currentFilm.Actors}}</p>
    <p><b>Production :</b> {{currentFilm.Production}}</p>
    <p><b>Runtime</b> {{currentFilm.Runtime}}</p>
    <p><b>Year</b> {{currentFilm.Year}}</p>
    <p><b>Ratings :</b></p>
    <li *ngFor="let rating of currentFilm.Ratings">{{rating['Source']}} : {{rating['Value']}} </li>
    <br>
    <p><b>Plot :</b> {{currentFilm.Plot}}</p>
  </div>
  <div *ngIf="currentRoute!=='/films/compilations'" class="d-flex justify-content-start mb-2 flex-wrap">
    <mat-form-field class="m-auto active-item">
      <mat-label>Compilation</mat-label>
      <select matNativeControl #compilation>
        <option *ngFor="let compilation of compilationsList" [value]="compilation">{{compilation}}</option>
      </select>
    </mat-form-field>
    <button mat-raised-button
            class="m-auto active-item"
            color="primary"
            (click)="addToCompilation(compilation.value)">
      Add to selected compilation
    </button>
  </div>
  <div class="mb-2 d-flex justify-content-start flex-wrap align-items-center"
       *ngIf="currentRoute==='/films/compilations'">
    <p class="mx-auto mb-2 active-item"><b>Compilation : </b>{{currentCompilationTitle}}</p>
    <button mat-raised-button
            color="warn" (click)="removeFromCompilation()"
            class="m-auto active-item">
      Remove from compilation
    </button>
  </div>
  <div class="d-flex justify-content-start flex-wrap">
    <button *ngIf="currentRoute !== '/films/wish'"
            class="mx-auto mb-2 active-item"
            mat-raised-button
            color="primary" (click)="addToWishList()">
      Add to wishlist
    </button>
    <button *ngIf="currentRoute !== '/films/watched'"
            class="mx-auto mb-2 active-item"
            mat-raised-button
            color="primary"
            (click)="addToWatchedList()">
      Add to watchedList
    </button>
    <button *ngIf="currentRoute === '/films/wish'"
            class="mx-auto mb-2 active-item"
            mat-raised-button
            color="warn"
            (click)="removeFromWishList()">
      Remove from wishList
    </button>
    <button *ngIf="currentRoute === '/films/watched'"
            class="mx-auto mb-2 active-item"
            mat-raised-button
            color="warn" (click)="removeFromWatchedList()">
      Remove from watchedList
    </button>
  </div>

</div>
