/*.form-container{*/
/*  display: flex;*/
/*  height: 50%*/
/*}*/

form{
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

mat-form-field{
  width: 100%;
}
button{
  margin: 5px;
}
