<nav mat-tab-nav-bar>
  <a *ngIf="!authService.authStatus" mat-tab-link [routerLink]="'login'" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Вход</a>
  <a *ngIf="!authService.authStatus" mat-tab-link [routerLink]="'/registration'" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Регистрация</a>
  <a *ngIf="authService.authStatus" mat-tab-link [routerLink]="'/films'" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Фильмы</a>
  <a *ngIf="authService.authStatus" mat-tab-link [routerLink]="'/'" (click)="logOut()">Выйти</a>
</nav>
