<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #drawer mode="side" class="p-2" [fixedInViewport]="true">
    <app-film-info (close)="drawer.close()"></app-film-info>
  </mat-sidenav>
  <mat-sidenav-content (click)="drawer.close()">
    <form [formGroup]="searchForm" class="d-flex flex-column align-items-center justify-content-center flex-wrap pt-10">
      <mat-form-field [style.fontSize]="'18px'">
        <mat-label>Search film</mat-label>
        <input [formControlName]="searchControlName" matInput>
      </mat-form-field>
      <div class="d-flex justify-content-center justify-content-md-start flex-wrap w-100 px-5">
        <mat-form-field class="mr-2 select">
          <mat-label>Genre</mat-label>
          <select matNativeControl [formControlName]="genreControlName">
            <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
          </select>
        </mat-form-field>
        <mat-form-field class="mr-2 select">
          <mat-label>Runtime</mat-label>
          <select matNativeControl [formControlName]="runtimeControlName">
            <option *ngFor="let runtime of runtimeList" [value]="runtime"><span
              *ngIf="runtime!=='Any'"><</span>{{runtime}}</option>
          </select>
        </mat-form-field>
        <mat-form-field class="mr-2 select">
          <mat-label>Date added to the list</mat-label>
          <select matNativeControl [formControlName]="dateAddedControlName">
            <option value="Newer">
              <span>
              Newer first
            </span>
            </option>
            <option value="Elder">
              <span>
              Elder first
            </span>
            </option>
          </select>
        </mat-form-field>
      </div>
    </form>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
        <app-film-card *ngFor="let film of films | filmsSearch : searchForm.get(searchControlName).value
      : searchForm.get(genreControlName).value : searchForm.get(runtimeControlName).value
      : searchForm.get(dateAddedControlName).value"
                       [film]="film"
                       (click)="$event.stopPropagation(); drawer.open()"></app-film-card>
      </div>
    </div>
    <button mat-fab
            class="scroll-btn invisible"
            color="primary"
            (click)="scrollToTop()">
      <mat-icon>expand_less</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
