
img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.film-card {
  padding: 0 5px 5px 5px;
  margin-top: 10px;
  background-color: transparent;
  width: 300px;
  /*min-width: 200px;*/
  height: 450px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.film-card-inner {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.film-card:hover .film-card-inner {
  /*transform: rotateY(180deg);*/
  transform: scale(1.05);
}

/* Position the front and back side */
.film-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.film-card-front {
  background-color: #bbb;
  border-radius: 15px;
  color: black;
}



