<div class="form-container">
  <form class="example-form" [formGroup]="loginForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Email</mat-label>
        <input [formControlName]="emailControlName" matInput placeholder="Placeholder" >
        <mat-error *ngIf="loginForm.get(emailControlName).hasError('email') &&
        !loginForm.get(emailControlName).hasError('required')">
          Enter valid email address
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter password</mat-label>
        <input [formControlName]="passwordControlName" matInput [type]="'password'" >
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="onSubmit()">Log in</button>
    <mat-error class="error">{{errorMessage}}</mat-error>
  </form>
</div>
