<div class="form-container mt-2">
  <form class="example-form" [formGroup]="regForm">
    <div class="form-header">
      <h2 class="text-center">Registration</h2>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Email</mat-label>
        <input [formControlName]="emailControlName" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter password</mat-label>
        <input [formControlName]="passwordControlName" matInput [type]="'password'">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="pb-2">
        <mat-label>Confirm password</mat-label>
        <input [formControlName]="confirmedPasswordControlName" matInput [type]="'password'">
        <mat-hint class="errors">
          <p class="m-0" *ngIf="regForm.get(passwordControlName).value !== regForm.get(confirmedPasswordControlName).value">
            Passwords must match
          </p>
          <p>{{errorMessage}}</p>
        </mat-hint>
      </mat-form-field>
    </div>
      <button mat-raised-button class="mt-2" color="primary" (click)="onSubmit()" class="active-item">
        Registration
      </button>
  </form>
</div>

