mat-form-field{
  width:95%;
}

form{
  margin:10px;
}

mat-sidenav{
  width: 35%;
}

.close-drawer-container{
  width: 100%;
}

mat-sidenav-content {
  background-color: white;
  padding: 0 5px 10px 5px;
}
