<form [formGroup]="searchForm" class="d-flex flex-column align-items-center justify-content-center flex-wrap pt-10">
  <mat-form-field [style.fontSize]="'18px'">
    <mat-label>Search film</mat-label>
    <input formControlName="search" matInput placeholder="Harry Potter" >
  </mat-form-field>
</form>
<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #drawer mode="side" class="p-2" [fixedInViewport]="true">
    <div class="close-drawer-container float-right">
      <button mat-flat-button color="warn" class="float-right" (click)="drawer.close()">x</button>
    </div>
    <app-film-info></app-film-info>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-paginator
                   [length]="filmsCount"
                   [pageSize]="10"
                   [pageSizeOptions]="10"
                   (page)="onPageChange($event)"
                   [pageIndex]="0">
    </mat-paginator>
    <div class="d-flex flex-wrap" *ngIf="(films$ | async) as films; else loader;">
      <app-film-card *ngFor="let film of films" [film]="film" (click)="drawer.open()"></app-film-card>
    </div>
    <ng-template #loader class="d-flex">
      <div class="d-flex justify-content-center">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
      </div>
<!--      <div class="d-flex justify-content-center">-->
<!--        <div class="font-weight-bold errorMessage">FILMS NOT FOUND</div>-->
<!--      </div>-->
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
