<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #drawer mode="side" class="p-2" [fixedInViewport]="true">
    <app-film-info (close)="drawer.close()"></app-film-info>
  </mat-sidenav>
  <mat-sidenav-content (click)="drawer.close()">
    <form [formGroup]="searchForm" class="d-flex flex-column align-items-center justify-content-center flex-wrap pt-10">
      <mat-form-field [style.fontSize]="'18px'">
        <mat-label>Search film</mat-label>
        <input [formControlName]="searchControlName" matInput>
      </mat-form-field>
    </form>
    <mat-paginator [length]="filmsCount"
                   [pageSize]="10"
                   (page)="onPageChange($event)"
                   [pageIndex]="pageIndex$.value">
    </mat-paginator>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-wrap justify-content-center justify-content-sm-start"
           *ngIf="!isLoading && (films$ | async) as films">
        <app-film-card *ngFor="let film of films" [film]="film"
                       (click)="$event.stopPropagation(); drawer.open()"></app-film-card>
      </div>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <h2 *ngIf="!searchValue">Enter a string in the search</h2>
        <h2 *ngIf="searchValue">{{errorMessage}}</h2>
        <mat-progress-spinner *ngIf="searchValue && !errorMessage" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
