@import '~@angular/material/theming';

@include mat-core();

$courseWork-primary: mat-palette($mat-deep-purple,700);
$courseWork-accent: mat-palette($mat-orange,700);

$courseWork-warn: mat-palette($mat-red);

$courseWork-theme: mat-light-theme($courseWork-primary, $courseWork-accent, $courseWork-warn);


@include angular-material-theme($courseWork-theme);

