/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: scroll }

button.active-item:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.close-btn:hover{
  transform: scale(1.05);
}

.form-header{
  color: #512da8;
}

